migrations/
*~
.idea
build
build/*
*.pyc
*.box
*.log
*#
*.swp
*.swo
*.DS_Store
.idea
.settings
.pydevproject
.project
.ropeproject
.AppleDouble*
*.temp.*
dist/
Enterprise_Data.egg-info/
enterprise_data.egg-info/*
.cache/
.pytest_cache/
