{% extends 'admin/master.html' %}

{% block body %}
    <h2>Pages</h2>
    <h3>Uri</h3>
    <p>Predefined and already hit uri destinations available through this install.</p>

    <h3>Web Requests</h3>
    <p>Every hit the server has recorded.</p>

    <h3>Known Ip</h3>
    <p> Unique set of recorded IP address which have hit the server.</p>

    <h3>Hosted Files</h3>
    <p>File manager that allows for uploading content to host out. You can upload and host media, static html files</p>

    <h3>Options</h3>
    <p>Option manager for Simple-Honey</p>

    <footer>
        <a target="_new" href="https://github.com/politeauthority/simple-honey">Simple-Honey</a> was built by <a target="_new" href="https://github.com/politeauthority">PoliteAuthority</a>
    </footer>
{% endblock %}
